@{
    ViewBag.Title = "Openlayer";
}
@section CSSHead
{
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.css")" rel="stylesheet" type="text/css" />
}

@section JSTail
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.js"></script>
}

@section CustomScripts
{
<script>
    var url = 'http://localhost:29535/web_test/api/table1api/';
    var count = 0;
    var features;
    $(document).ready(function () {
        //        $.getJSON(url)
        //          .done(function (data) {
        //              features = new Array(data.length);
        //              $.each(data, function (key, item) {
        //                  var coordinates = [item.Lon, item.Lat];
        //                  features[i] = new ol.Feature(new ol.geom.Point(coordinates));
        //                  count++;
        //              });
        //          });
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                create_cluster(data);
            },
            error: function () {
                alert("ERROR!!!");
            }
        });

    });
    var getText = function (feature, resolution, dom) {
        var type = dom.text.value;
        var maxResolution = dom.maxreso.value;
        var text = feature.get('name');

        if (resolution > maxResolution) {
            text = '';
        } else if (type == 'hide') {
            text = '';
        } else if (type == 'shorten') {
            text = text.trunc(12);
        } else if (type == 'wrap') {
            text = stringDivider(text, 16, '\n');
        }

        return text;
    };

    var createTextStyle = function (feature, resolution, dom) {
        var align = dom.align.value;
        var baseline = dom.baseline.value;
        var size = dom.size.value;
        var offsetX = parseInt(dom.offsetX.value, 10);
        var offsetY = parseInt(dom.offsetY.value, 10);
        var weight = dom.weight.value;
        var rotation = parseFloat(dom.rotation.value);
        var font = weight + ' ' + size + ' ' + dom.font.value;
        var fillColor = dom.color.value;
        var outlineColor = dom.outline.value;
        var outlineWidth = parseInt(dom.outlineWidth.value, 10);

        return new ol.style.Text({
            textAlign: align,
            textBaseline: baseline,
            font: font,
            text: getText(feature, resolution, dom),
            fill: new ol.style.Fill({ color: fillColor }),
            stroke: new ol.style.Stroke({ color: outlineColor, width: outlineWidth }),
            offsetX: offsetX,
            offsetY: offsetY,
            rotation: rotation
        });
    };
    var createPointStyleFunction = function () {
        return function (feature, resolution) {
            var style = new ol.style.Style({
                image: new ol.style.Circle({
                    radius: 10,
                    fill: new ol.style.Fill({ color: 'rgba(255, 0, 0, 0.1)' }),
                    stroke: new ol.style.Stroke({ color: 'red', width: 1 })
                }),
                text: createTextStyle(feature, resolution, myDom.points)
            });
            return [style];
        };
    };

    var highlightStyleCache = {};

    var featureOverlay;

    var highlight;
    var displayFeatureInfo = function (map, pixel) {
        var size = 0;
        var feature = map.forEachFeatureAtPixel(pixel, function (feature, layer) {
            var features = feature.get('features');
            if (typeof features == 'undefined') {
                return feature;
            } else if (features.length > 1) {
                size = features.length;
                return feature;
            } else {
                size = 1;
                return features[0];
            }
        });

        var info = document.getElementById('info');
        if (feature) {
            if (size > 1) {
                info.innerHTML = 'CLUSTER: ' + size.toString();
            } else {
                info.innerHTML = feature.get('name');
            }
        } else {
            info.innerHTML = '&nbsp;';
        }

        if (feature !== highlight) {
            if (highlight) {
                featureOverlay.removeFeature(highlight);
            }
            if (feature) {
                featureOverlay.addFeature(feature);
            }
            highlight = feature;
        }

    };

    

        function create_cluster(data) {
            features = new Array(data.length);
            $.each(data, function (key, item) {
                var coordinates = [item.Lat, item.Lon];
                features[count] = new ol.Feature({ geometry: new ol.geom.Point(coordinates),
                    name: item.DisName
                });
                //features[count] = { "type": "Feature", "properties": { "name": item.DisName }
                //                                     , "geometry": { "type": "Point", "coordinates": coordinates} };
                // var properties = features[count].getProperties();
                count++;
            });
            var source = new ol.source.Vector({
                features: features
            });

            var clusterSource = new ol.source.Cluster({
                distance: 40,
                source: source
            });

            var styleCache = {};
            var clusters = new ol.layer.Vector({
                source: clusterSource,
                style: function (feature, resolution) {
                    var features = feature.get('features');
                    
                    var size = features.length;
                    var name;
                    if (size == 1) {
                        name = features[0].get('name');
                    }
                    else {
                        name = size.toString();
                    }
                    var properties = feature.getProperties();
                    var style = styleCache[size];
                    if (!style || size == 1) {
                        style = [new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 10,
                                stroke: new ol.style.Stroke({
                                    color: '#fff'
                                }),
                                fill: new ol.style.Fill({
                                    color: '#3399CC'
                                })
                            }),
                            text: new ol.style.Text({
                                text: name,
                                fill: new ol.style.Fill({
                                    color: '#000'
                                })
                            })
                        })];
                        styleCache[size] = style;
                    }
                    return style;
                }
            });

            var raster = new ol.layer.Tile({
                source: new ol.source.MapQuest({ layer: 'sat' })
            });

            var raw = new ol.layer.Vector({
                source: source
            });

            var map = new ol.Map({
                layers: [raster, clusters],
                renderer: 'canvas',
                target: 'map',
                view: new ol.View({
                    center: [24, 121],
                    zoom: 25
                })
            });

            featureOverlay = new ol.FeatureOverlay({
                map: map,
                style: function (feature, resolution) {
                    var text = resolution < 5000 ? feature.get('name') : '';
                    if (!highlightStyleCache[text]) {
                        highlightStyleCache[text] = [new ol.style.Style({
                            stroke: new ol.style.Stroke({
                                color: '#f00',
                                width: 1
                            }),
                            fill: new ol.style.Fill({
                                color: 'rgba(255,0,0,0.1)'
                            }),
                            text: new ol.style.Text({
                                font: '12px Calibri,sans-serif',
                                text: text,
                                fill: new ol.style.Fill({
                                    color: '#000'
                                }),
                                stroke: new ol.style.Stroke({
                                    color: '#f00',
                                    width: 3
                                })
                            })
                        })];
                    }
                    return highlightStyleCache[text];
                }
            });
            map.on('pointermove', function (evt) {
                if (evt.dragging) {
                    return;
                }
                var pixel = map.getEventPixel(evt.originalEvent);
                displayFeatureInfo(this, pixel);
            });

            map.on('click', function (evt) {
                displayFeatureInfo(this, evt.pixel);
            });
        }

    

</script>
}

<div class="container">

<div class="row">
    <div class="col-md-12">
        <div id="map" class="map"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <div id="info" class="alert alert-success">
            &nbsp;
        </div>
    </div>
</div>

</div>


