<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TESTDB"
        connectionString="Data Source=LAIS\SQLEXPRESS;Initial Catalog=TESTDB;User ID=testuser;Password=password"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

  </appSettings>
</configuration>