<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TESTDB"
        connectionString="Data Source=LAIS\SQLEXPRESS;Initial Catalog=TESTDB;User ID=testuser;Password=password"
        providerName="System.Data.SqlClient" />
    <add name="TESTDBEntities" connectionString="metadata=res://*/TESTDB.csdl|res://*/TESTDB.ssdl|res://*/TESTDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAIS\SQLEXPRESS;initial catalog=TESTDB;user id=testuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>

  </appSettings>
</configuration>